*,
html {
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6em 1fr;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header {
  background-color: #97ce4c;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  z-index: 100;
}

.main {
  position: relative;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 43%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-menu-open {
  color: #186f7e;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.7s ease;
}

.icon-menu-open-close {
  color: #186f7e;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.7s ease;
}

.icon-menu-hide {
  color: #186f7e;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.7s ease;
}

.icon-menu-open-hide {
  color: #186f7e;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.7s ease;
}

.container-icon-menu {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 10%;
  height: 100%;
  display: inline-flex;
}

.option-menu-modal {
  position: absolute;
  background-color: #97ce4c;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 47vh;
  margin-top: 0em;
  transition: all 0.6s ease-in-out;
  opacity: 1;
  z-index: 10;
}

.option-menu-modal-show {
  position: absolute;
  margin-top: -77%;
  background-color: #97ce4c;
  height: -30rem;
  opacity: 1;
  transition: all 1s none;
}

.slime-container {
  position: absolute;
  bottom: 0;
  width: 101vw;
  height: 2vh;
  z-index: 0;
}

.slime-container>img {
  width: 100%;
  height: 8vh;
  aspect-ratio: 19/6;
}

.option-menu-modal .routes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  outline: none;
  align-items: center;
  gap: 2rem;
}

.active-link {
  color: #04333b;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.nav-option-list>.item-list {
  color: #1a5b66;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.nav-option-list>.item-list:hover {
  transform: scale(1.1);
}


.nav-option-list>.item-list:active {
  transform: scale(1.1);
  -webkit-tap-highlight-color: transparent;
}

.character-general-container {
  padding: 1.4em;
  margin-top: 1rem;
  width: 95%;
}

.container-recents {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(15rem, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card-recent-character {
  width: 100%;
  height: 50vh;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 2px 10px -2px;
}

.character-img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  filter: contrast(120%);
  aspect-ratio: auto 16 / 1;
}

.info-character {
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: #ffffff;
  width: 100%;
  height: 13vh;
  border-radius: 2rem 2rem 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 0px 10px -2px #97ce4c;
}

.name-character {
  color: #186f7e;
  font-weight: 900;
  font-size: 1.2em;
  width: fit-content;
  margin-left: 1rem;
  text-align: center;
}

.state-character {
  background-color: #9390F5;
  width: max-content;
  padding: 0.3rem;
  color: #ffffff;
  border-radius: 10px;
  text-transform: capitalize;
}

.title-recents {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #40B5CB;
  text-shadow:
    -0.5px -0.5px 0 #97ce4c,
    0.5px -0.5px 0 #97ce4c,
    -0.5px 0.5px 0 #97ce4c,
    0.5px 0.5px 0 #97ce4c;
  align-items: center;
}

.padding-title {
  margin-top: 2rem;
}

.portal-resource {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  margin-top: 0.4em;
  right: 0;
  margin-right: 0.4em;
  z-index: 1;
  background-color: #1a5b66;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px -2px;
  pointer-events: none;
  color: #ffffff;
}

.portal-resource>img {
  width: inherit;
  height: inherit;
}

.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: max-content;
  flex-wrap: wrap;
  padding: 0.4rem
}

.episodes-general-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(15rem, 1fr));
  gap: 2rem;
}

.episode-title {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.episode-container {
  background-color: #1a5b66;
  height: 20vh;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
  box-shadow: 10px -6px 15px -10px #97ce4c;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-top: 2rem;
}

.episode-container::after {
  content: '';
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  box-shadow: 0px 10px 10px -10px #97ce4c;
}

.episode-container h3:first-child {
  color: #1a5b66;
}

.episode-container h3 {
  z-index: 3;
  color: #97ce4c;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 0.3rem;
}

.button-paginate {
  background-color: #1a5b66;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 9px;
  color: #97ce4c;
  border: none;
}

.button-paginate:hover {
  cursor: pointer;
}

.active-button {
  background-color: #97ce4c;
  color: #1a5b66;
}

.title-episode {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-bottom: 1.3rem;
  color: #40B5CB;
  text-shadow:
    -0.5px -0.5px 0 #97ce4c,
    0.5px -0.5px 0 #97ce4c,
    -0.5px 0.5px 0 #97ce4c,
    0.5px 0.5px 0 #97ce4c;
}

.select-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.select-episodes {
  border: 0.9px solid #97ce4c;
  padding: 0.7rem 0.9rem 0.7rem 0.9rem;
  color: #97ce4c;
  font-size: 0.75rem;
  background-color: #1a5b66;
  border-radius: 5px;
  outline: none;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.label-filter {
  color: #1a5b66;
  font-weight: 600;
}

.form-input {
  outline: none;
  padding: 0.7rem;
  border-radius: 4px;
  border: 1px solid;
  color: #1a5b66;
}

.form-group>.form-content>.form-input-select {
  width: 24vw;
  background-color: #1a5b66;
  color: #97ce4c;
  outline: none;
  border-radius: 4px;
  padding: 0.7rem;
}

.form-input-option {
  word-wrap: break-word;
  white-space: normal;
}

.form-input-option:hover {
  cursor: pointer;
}

.filter-name-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: max-content;
}

.name-filter {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.clean-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: inherit;
}

.clean-button {
  background-color: #97ce4c;
  border: none;
  outline: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 4px;
  color: #1a5b66;
  font-weight: bold;
}

.clean-button:hover {
  background-color: #1a5b66;
  color: #97ce4c;
  cursor: pointer;
}

.dont-find-container {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.image-container-dont-find {
  width: 40%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container-dont-find>.image-dont-find {
  width: 100%;
  height: 80%;
}

.text-dont-find-container {
  display: flex;
  width: 50%;
  height: inherit;
  justify-content: center;
  align-items: center;
}

.text-dont-find {
  color: #1a5b66;
  font-weight: 900;
  font-size: 2rem;
  word-break: keep-all;
  text-align: center;
  padding: 1.3rem;
}

.individual-character-container {
  padding: 1.4em;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.title-container-card {
  background-color: #1a5b66;
  width: 100%;
  border-radius: 1.2em 1.2rem 0em 0rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-character {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #97ce4c;
  text-align: center;
}

.image-character-container {
  background-color: #186f7e;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(120%);
  aspect-ratio: auto 16 / 1;
}

.image-character {
  width: 80%;
  height: 80%;
  padding: 2rem;
  border-radius: 3rem;
}

.container-information {
  background-color: #186f7e;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.2rem;
  gap: 3rem;
}

.container-information-second {
  background-color: #186f7e;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
  gap: 3rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 0.8rem;
}

.card-information-information {
  text-align: center;
  text-wrap: word-break;
  white-space: normal;
}

.information-container-card {
  background-color: #186f7e;
  width: 100%;
  padding-bottom: 2rem;
  border-radius: 0em 0em 1.2rem 1.2rem;
}

.information-card-title,
.card-information-information {
  color: #ffffff;
}

.status-card {
  background-color: #97ce4c;
  border-radius: 10px;
  padding: 0.2rem;
}

.menu-desktop {
  display: none;
}

@media (min-width: 360px) {


  .option-menu-modal {
    position: absolute;
    background-color: #97ce4c;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 47vh;
    margin-top: 0em;
    transition: all 0.6s ease-in-out;
    opacity: 1;
    z-index: 10;
  }

  .option-menu-modal-show {
    position: absolute;
    margin-top: -45vh;
    background-color: #97ce4c;
    height: -30rem;
    opacity: 1;
    transition: all 1s none;
  }

  .character-general-container {
    margin-top: 5vh;
  }
}

@media (min-width: 640px) {

  .main {
    background-color: rebeccapurple;
  }

  .container-icon-menu {
    display: inline-flex;
  }

  .button-paginate {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }

  .slime-container {
    position: absolute;
    bottom: 0;
    width: 101vw;
    height: 3vh;
    margin-bottom: 0.3vh;
    z-index: 0;
  }

  .slime-container>img {
    width: 100%;
    height: 9vh;
    aspect-ratio: 19/6;
    margin-top: 1vh;
  }

  .label-filter {
    font-size: 1.2rem;
  }

  .form-input {
    width: 40vw;
    font-size: 1.1rem;
  }

  .clean-button {
    border: none;
    outline: none;
    padding: 0.9rem;
    font-weight: bold;
  }

  .name-filter {
    width: max-content;
  }

  .form-group>.form-content>.form-input-select {
    width: 27vw;
  }

  .individual-character-container {
    margin-top: 8rem;
    width: 80%;
  }

  .information-card-title {
    font-size: 1.2rem;
  }

  .card-information-information {
    font-size: 1.2rem;
  }

  .nav-option-list {
    font-size: 1.2rem;
  }

  .option-menu-modal>.routes {
    gap: 3rem;
  }

  .logo-container {
    width: 35%;
    background-size: contain;
  }

  .character-general-container {
    margin-top: 4rem;
  }

  .label-filter {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .card-recent-character {
    width: 20rem;
    height: 40vh;
  }

  .name-character {
    font-size: 1.2rem;
  }

  .episode-container::after {
    border-radius: 0px 0px 30px 30px;
  }

  .info-character {
    height: 13vh;
  }

  .filter-name-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2vh;
  }
}

@media screen and (min-width: 768px) {

  .main {
    background-color: red;
  }

  .container-icon-menu {
    display: inline-flex;
  }

  .button-paginate {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }

  .slime-container {
    position: absolute;
    bottom: 0;
    width: 101vw;
    height: 3vh;
    margin-bottom: 1.4vh;
    z-index: 0;
  }

  .slime-container>img {
    width: 100%;
    height: 12vh;
    aspect-ratio: 19/6;
    margin-top: 1.3vh;
  }

  .label-filter {
    font-size: 1.2rem;
  }

  .form-input {
    width: 44vw;
    font-size: 1.1rem;
  }

  .clean-button {
    border: none;
    outline: none;
    padding: 1rem;
    font-weight: bold;
  }

  .name-filter {
    width: max-content;
  }

  .form-group>.form-content>.form-input-select {
    width: 27vw;
  }

  .individual-character-container {
    margin-top: 8rem;
    width: 80%;
  }

  .information-card-title {
    font-size: 1.2rem;
  }

  .card-information-information {
    font-size: 1.2rem;
  }

  .nav-option-list {
    font-size: 1.2rem;
  }

  .option-menu-modal>.routes {
    gap: 3rem !important;
  }

  .logo-container {
    width: 35%;
    background-size: contain;
  }

  .character-general-container {
    margin-top: 6rem;
  }

  .label-filter {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .container-recents {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(20rem, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  .episode-container::after {
    border-radius: 0px 0px 30px 30px;
  }

  .episode-container {
    gap: 4rem;
  }

  .name-character {
    font-size: 1.4rem;
    word-wrap: break-word;
  }

  .dont-find-container {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .filter-name-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {

  .main {
    background-color: darkcyan;
  }

  .container-recents {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(20vh, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  .menu-desktop {
    display: inline-flex;
  }

  .routes-mobile {
    display: none !important;
  }

  .slime-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23vh;
    margin-bottom: -1rem;
    z-index: 0;
  }

  .option-menu-modal {
    background-color: transparent;
  }

  .slime-container>img {
    width: 100%;
    height: 9vh;
  }

  .logo-container {
    width: 25%;
    background-size: contain;
  }

  .container-icon-menu {
    display: none;
  }

  .menu-desktop>.routes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .menu-desktop>.routes>.nav-option-list {
    list-style: none;
    font-size: 1rem;
  }

  .menu-desktop>.routes>.nav-option-list:hover {
    color: #40B5CB;
  }

  .option-menu-modal-show {
    margin-top: -36vh;
  }

  .slime-container {
    height: 15vh;
  }

  .slime-container>img {
    width: 100%;
    aspect-ratio: 19/6;
  }

  .card-recent-character {
    width: 22vh;
    height: 30vh;
  }

  .character-img {
    width: 100%;
    height: 74%;
  }

  .episode-container::after {
    border-radius: 0px 0px 30px 30px;
  }

  .episode-container {
    gap: 4rem;
  }

  .name-character {
    font-size: 1.6rem;
  }

  .state-character {
    font-size: 0.9rem;
  }

  .filter-name-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .form-input {
    width: 25vh;
  }

  .dont-find-container {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) and (height: 600px) {
  .main {
    background-color: lightcoral;
  }

  .container-recents {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(30vh, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  .item-list {
    font-size: 1rem !important;
  }

  .active-link {
    font-size: 1rem !important;
  }


  .menu-desktop {
    display: inline-flex;
  }

  .routes-mobile {
    display: none !important;
  }

  .slime-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    margin-bottom: -1rem;
    z-index: 0;
  }

  .option-menu-modal {
    background-color: transparent;
  }

  .slime-container>img {
    width: 100%;
    height: 100%;
  }

  .logo-container {
    width: 25%;
    background-size: contain;
  }

  .container-icon-menu {
    display: none;
  }

  .menu-desktop>.routes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .menu-desktop>.routes>.nav-option-list {
    list-style: none;
    font-size: 1rem;
  }

  .menu-desktop>.routes>.nav-option-list:hover {
    color: #40B5CB;
  }

  .option-menu-modal-show {
    margin-top: -36vh;
  }

  .slime-container>img {
    width: 100%;
    aspect-ratio: 19/6;
  }

  .card-recent-character {
    width: 37vh;
    height: 45vh;
  }

  .character-img {
    width: 100%;
    height: 95%;
  }

  .episode-container::after {
    border-radius: 0px 0px 30px 30px;
  }

  .episode-container {
    gap: 2rem;
  }

  .individual-character-container {
    width: 65%;
  }

  .state-character {
    font-size: 0.8rem;
  }

  .info-character {
    gap: 0;
    height: 14vh;
  }

  .footer-card {
    font-size: 0.7rem;
  }

  .info-character {
    font-size: 1.5vh;
  }

  .information-card-title {
    font-size: 1.3rem;
  }

  .card-information-information {
    font-size: 1.3rem;
  }

  .name-character {
    font-size: 2.4vh;
  }

  .state-character {
    font-size: 0.6rem;
  }

  .dont-find-container {
    width: 45%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .image-dont-find {
    width: 100%;
  }

  .character-general-container {
    margin-top: 2rem;
  }

  .name-filter {
    font-size: 0.7rem !important;
  }
}

@media screen and (width: 1024px) and (height: 768px) {

  .main {
    background-color: coral;
  }

  .container-recents {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(30vh, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  .menu-desktop {
    display: inline-flex;
  }

  .routes-mobile {
    display: none !important;
  }

  .slime-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17vh !important;
    margin-bottom: -1rem;
    z-index: 0;
  }

  .slime-container>img {
    width: 100%;
    height: 100%;
  }

  .option-menu-modal-show {
    margin-top: -38.5vh;
  }

  .option-menu-modal {
    background-color: transparent;
  }

  .logo-container {
    width: 25%;
    background-size: contain;
  }

  .container-icon-menu {
    display: none;
  }

  .menu-desktop>.routes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .menu-desktop>.routes>.nav-option-list {
    list-style: none;
    font-size: 1rem;
  }

  .menu-desktop>.routes>.nav-option-list:hover {
    color: #40B5CB;
  }

  .slime-container {
    height: 30vh;
  }

  .slime-container>img {
    width: 100%;
    aspect-ratio: 19/6;
  }

  .card-recent-character {
    width: 40vh;
    height: 45vh;
  }

  .character-img {
    width: 100%;
    height: 95%;
  }

  .episode-container::after {
    border-radius: 0px 0px 30px 30px;
  }

  .episode-container {
    gap: 2rem;
  }

  .individual-character-container {
    width: 65%;
  }

  .container {
    grid-template-rows: 10em 1fr;
  }


  .info-character {
    font-size: 2vh;
    height: 17vh;
  }

  .information-card-title {
    font-size: 1.8rem;
  }

  .card-information-information {
    font-size: 1.5rem;
  }

  .name-character {
    font-size: 1.4rem;
  }

  .state-character {
    font-size: 0.8rem;
  }

  .name-character {
    font-size: 1.5rem;
  }

  .state-character {
    font-size: 0.8rem;
  }

  .footer-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-paginate {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .button-container {
    gap: 2rem;
  }

  .select-episodes {
    font-size: 1.3rem;
  }

  .dont-find-container {
    margin: auto;
    width: fit-content;
    height: max-content;
    margin-top: 2rem;
  }

  .image-dont-find {
    width: 20vh !important;
    height: 46vh !important;
  }

  .item-list {
    font-size: 1rem !important;
  }

  .active-link {
    font-size: 1rem !important;
  }

  .character-general-container {
    margin-top: 3.4rem;
  }

  .label-filter {
    font-size: 1.2rem;
  }

  .clean-button {
    font-size: 1.2rem;
    font-weight: normal;
    padding: 0.7rem;
  }

  .title-episode {
    font-size: 4vh;
  }

  .select-episodes {
    font-size: 2vh;
  }
}

@media screen and (min-width: 1280px) {

  .main {
    background-color: darkolivegreen;
  }

  .active-link {
    font-size: 1.2rem !important;
  }

  .item-list {
    font-size: 1.2rem !important;
  }

  .item-list:hover {
    color: #186f7e;
    transform: scale(9.2) !important;
  }

  .container-recents {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(35vh, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  .menu-desktop {
    display: inline-flex;
  }

  .routes-mobile {
    display: none !important;
  }

  .slime-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: -1rem;
    z-index: 0;
    height: max-content;
  }

  .option-menu-modal {
    background-color: transparent;
  }

  .slime-container>img {
    width: 100%;
    height: 14vh;
  }

  .logo-container {
    width: 25%;
    background-size: contain;
  }

  .container-icon-menu {
    display: none;
  }

  .menu-desktop>.routes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .menu-desktop>.routes>.nav-option-list {
    list-style: none;
    font-size: 1rem;
  }

  .menu-desktop>.routes>.nav-option-list:hover {
    color: #40B5CB;
  }

  .option-menu-modal-show {
    margin-top: -38vh;
  }

  .slime-container>img {
    width: 100%;
    aspect-ratio: 19/6;
  }

  .card-recent-character {
    width: 35vh;
    height: 49vh;
  }

  .character-img {
    width: 100%;
    height: 95%;
  }

  .episode-container::after {
    border-radius: 0px 0px 30px 30px;
  }

  .image-character {
    width: 50%;
    height: 80%;
    padding: 2rem;
    border-radius: 3rem;
  }

  .episode-container {
    gap: 3rem;
  }

  .individual-character-container {
    width: 40%;
    margin-top: 10vh;
  }

  .container {
    grid-template-rows: 10em 1fr;
  }

  .episode-container>h3 {
    font-size: 1rem;
  }

  .title-recents {
    font-size: 4vh;
  }

  .info-character {
    font-size: 2vh;
    height: 19vh;
    gap: 1vh;
  }

  .information-card-title {
    font-size: 1.4rem;
  }

  .card-information-information {
    font-size: 1.3rem;
  }

  .name-character {
    font-size: 1.4rem;
  }

  .state-character {
    font-size: 1rem;
  }

  .footer-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-paginate {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    font-size: 0.9rem;
  }

  .button-container {
    gap: 2rem;
  }

  .select-episodes {
    font-size: 1.3rem;
  }


  .dont-find-container {
    margin: auto;
    width: fit-content;
    height: max-content;
    margin-top: 2rem;
  }

  .image-dont-find {
    width: 20vh !important;
    height: 46vh !important;
  }

  .character-general-container {
    margin-top: 4rem !important;
  }
}

@media screen and (min-width: 1360px) {
  .main {
    background-color: hotpink;
  }

  .active-link {
    font-size: 1.3rem !important;
  }

  .item-list {
    font-size: 1.3rem !important;
  }

  .item-list:hover {
    color: #186f7e;
    transform: scale(9.2) !important;
  }

  .container-recents {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(35vh, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  .menu-desktop {
    display: inline-flex;
  }

  .routes-mobile {
    display: none !important;
  }

  .slime-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23vh;
    margin-bottom: -1rem;
    z-index: 0;
  }

  .option-menu-modal {
    background-color: transparent;
  }

  .slime-container>img {
    width: 100%;
    height: 12vh;
  }

  .logo-container {
    width: 25%;
    background-size: contain;
  }

  .container-icon-menu {
    display: none;
  }

  .menu-desktop>.routes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .menu-desktop>.routes>.nav-option-list {
    list-style: none;
    font-size: 1rem;
  }

  .menu-desktop>.routes>.nav-option-list:hover {
    color: #40B5CB;
  }

  .option-menu-modal-show {
    margin-top: -30vh;
  }

  .slime-container>img {
    width: 100%;
    aspect-ratio: 19/6;
  }

  .card-recent-character {
    width: 35vh;
    height: 49vh;
  }

  .character-general-container {
    margin-top: 3em !important;
  }

  .character-img {
    width: 100%;
    height: 95%;
  }

  .episode-container::after {
    border-radius: 0px 0px 30px 30px;
  }

  .episode-container {
    gap: 3rem;
  }

  .individual-character-container {
    width: 50%;
    margin-top: 2vh;
  }

  .container {
    grid-template-rows: 10em 1fr;
  }

  .episode-container>h3 {
    font-size: 1rem;
  }

  .title-recents {
    font-size: 4vh;
  }

  .info-character {
    font-size: 2vh;
    height: 19vh;
    gap: 1vh;
  }

  .information-card-title {
    font-size: 1.8rem;
  }

  .card-information-information {
    font-size: 1.5rem;
  }

  .name-character {
    font-size: 1.2rem;
  }

  .state-character {
    font-size: 1rem;
  }

  .footer-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-paginate {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    font-size: 1rem;
  }

  .button-container {
    gap: 2rem;
  }

  .select-episodes {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1400px) {

  .main {
    background-color: darkgoldenrod;
  }

  .active-link {
    font-size: 1.4rem !important;
  }

  .item-list {
    font-size: 1.4rem !important;
  }

  .container-recents {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(35vh, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  .menu-desktop {
    display: inline-flex;
  }

  .routes-mobile {
    display: none !important;
  }

  .slime-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23vh;
    margin-bottom: -1rem;
    z-index: 0;
  }

  .option-menu-modal {
    background-color: transparent;
  }

  .form-group {
    display: flex;
    justify-content: flex-start;
    gap: 2vh;
  }

  .slime-container>img {
    width: 100%;
    height: 14vh;
  }

  .logo-container {
    width: 25%;
    background-size: contain;
  }

  .container-icon-menu {
    display: none;
  }

  .menu-desktop>.routes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .menu-desktop>.routes>.nav-option-list {
    list-style: none;
    font-size: 1rem;
  }

  .menu-desktop>.routes>.nav-option-list:hover {
    color: #40B5CB;
  }

  .option-menu-modal-show {
    margin-top: -30vh;
  }

  .slime-container>img {
    width: 100%;
    aspect-ratio: 19/6;
  }

  .card-recent-character {
    width: 35vh;
    height: 49vh;
  }

  .character-img {
    width: 100%;
    height: 95%;
  }

  .episode-container::after {
    border-radius: 0px 0px 30px 30px;
  }

  .form-input-select {
    width: 20vh;
  }

  .episode-container {
    gap: 3rem;
  }

  .individual-character-container {
    width: 50%;
    margin-top: 25vh;
  }

  .container {
    grid-template-rows: 10em 1fr;
  }

  .episode-container>h3 {
    font-size: 1rem;
  }

  .title-recents {
    font-size: 4vh;
  }

  .info-character {
    font-size: 2vh;
    height: 19vh;
    gap: 1vh;
  }

  .information-card-title {
    font-size: 1.8rem;
  }

  .card-information-information {
    font-size: 1.5rem;
  }

  .name-character {
    font-size: 1.3rem !important;
  }

  .state-character {
    font-size: 1rem;
  }

  .footer-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-paginate {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .button-container {
    gap: 2rem;
  }

  .select-episodes {
    font-size: 1.3rem;
  }

  .form-input {
    width: 45vh;
  }
}

@media screen and (min-width: 1680px) {
  .main {
    background-color: darkgreen;
  }

  .active-link {
    font-size: 1.4rem !important;
  }

  .item-list {
    font-size: 1.4rem !important;
  }

  .item-list:hover {
    color: #186f7e;
    transform: scale(9.2) !important;
  }

  .container-recents {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(35vh, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  .menu-desktop {
    display: inline-flex;
  }

  .routes-mobile {
    display: none !important;
  }

  .option-menu-modal {
    background-color: transparent;
  }

  .logo-container {
    width: 20%;
    background-size: contain;
    background-position: 0rem;
  }

  .container-icon-menu {
    display: none;
  }

  .menu-desktop>.routes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .menu-desktop>.routes>.nav-option-list {
    list-style: none;
    font-size: 1rem;
  }

  .menu-desktop>.routes>.nav-option-list:hover {
    color: #40B5CB;
  }

  .option-menu-modal-show {
    margin-top: -32.4vh;
  }

  .card-recent-character {
    width: 37vh;
    height: 45vh;
  }

  .character-img {
    width: 100%;
    height: 95%;
  }

  .episode-container::after {
    border-radius: 0px 0px 30px 30px;
  }

  .episode-container {
    gap: 2.5rem;
    width: 35vh;
  }

  .individual-character-container {
    width: 30%;
    margin-top: 13vh;
  }

  .container {
    grid-template-rows: 9em 1fr;
  }

  .episodes-general-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(23rem, 1fr));
    gap: 2rem;
  }

  .title-recents {
    font-size: 4vh;
  }

  .info-character {
    font-size: 2vh;
    height: 14vh;
  }

  .information-card-title {
    font-size: 1.8rem;
  }

  .card-information-information {
    font-size: 1.5rem;
  }

  .character-general-container {
    margin-top: 10rem;
  }

  .name-character {
    font-size: 2.4rem;
  }

  .state-character {
    font-size: 1rem;
  }

  .footer-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-paginate {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1.6rem;
  }

  .button-container {
    gap: 2rem;
  }

  .portal-resource {
    width: 5vh;
    height: 5vh;
    font-size: 1.3rem;
  }

  .name-character {
    font-size: 3vh;
  }

  .title-episode {
    font-size: 4vh;
  }

  .header {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .active-link {
    color: #04333b;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-weight: bold;
  }

  .select-episodes {
    font-size: 1.3rem;
  }

  .state-character {
    font-size: 2rem;
  }

  .label-filter {
    font-size: 1.6rem;
  }

  .form-input {
    width: 30vh;
    font-size: 1.3rem;
  }

  .form-input-select {
    font-size: 1.2rem;
  }

  .clean-button {
    font-size: 1.1rem;
    font-weight: normal;
    padding: 0.9rem;
  }

  .episode-container>h3 {
    font-size: 1.4rem;
  }

  .information-card-title {
    font-size: 1.6rem;
  }

  .card-information-information {
    font-size: 1.4rem;
  }

  .title-character {
    font-size: 3rem;
  }

  .title-container-card {
    height: 11vh;
  }

  .dont-find-container {
    width: 40%;
    margin-top: 1%;
    height: 80vh;
  }

  .slime-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23vh;
    margin-bottom: -1rem;
    z-index: 0;
  }

  .slime-container>img {
    width: 100%;
    height: 14vh;
    margin-top: 3.4vh;
  }

  .slime-container>img {
    width: 100%;
    aspect-ratio: 19/6;
  }

  .image-container-dont-find {
    width: 50%;
    height: 80%;
  }

  .image-dont-find {
    width: 50%;
  }

  .filter-name-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }

  .image-character {
    width: 50%;
    height: 80%;
    padding: 2rem;
    border-radius: 3rem;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5vh;
  }

  .form-input-select {
    width: 40vh !important;
  }

}

@media screen and (min-width: 1901px) {
  .main {
    background-color: darkgrey;
  }

  .active-link {
    font-size: 1.6rem !important;
  }

  .item-list {
    font-size: 1.6rem !important;
  }

  .item-list:hover {
    color: #186f7e;
    transform: scale(9.2) !important;
  }

  .container-recents {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(35vh, 1fr));
    gap: 2rem;
    margin-top: 2rem;
  }

  .menu-desktop {
    display: inline-flex;
  }

  .routes-mobile {
    display: none !important;
  }

  .option-menu-modal {
    background-color: transparent;
  }

  .logo-container {
    width: 20%;
    background-size: contain;
    background-position: 0rem;
  }

  .container-icon-menu {
    display: none;
  }

  .menu-desktop>.routes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .menu-desktop>.routes>.nav-option-list {
    list-style: none;
    font-size: 1rem;
  }

  .menu-desktop>.routes>.nav-option-list:hover {
    color: #40B5CB;
  }

  .option-menu-modal-show {
    margin-top: -29.5vh;
  }

  .card-recent-character {
    width: 37vh;
    height: 45vh;
  }

  .character-img {
    width: 100%;
    height: 95%;
  }

  .episode-container::after {
    border-radius: 0px 0px 30px 30px;
  }

  .episode-container {
    gap: 2.5rem;
    width: 35vh;
  }

  .individual-character-container {
    width: 30%;
    margin-top: 13vh;
  }

  .container {
    grid-template-rows: 9em 1fr;
  }

  .episodes-general-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(23rem, 1fr));
    gap: 2rem;
  }

  .title-recents {
    font-size: 4vh;
  }

  .info-character {
    font-size: 2vh;
    height: 14vh;
  }

  .information-card-title {
    font-size: 1.8rem;
  }

  .card-information-information {
    font-size: 1.5rem;
  }

  .character-general-container {
    margin-top: 8rem !important;
  }

  .name-character {
    font-size: 2.4rem;
  }

  .state-character {
    font-size: 1rem;
  }

  .footer-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-paginate {
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 1.6rem;
  }

  .button-container {
    gap: 2rem;
  }

  .portal-resource {
    width: 5vh;
    height: 5vh;
    font-size: 1.3rem;
  }

  .name-character {
    font-size: 3vh;
  }

  .title-episode {
    font-size: 3vh;
  }

  .header {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .active-link {
    color: #04333b;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-weight: bold;
  }

  .select-episodes {
    font-size: 1.3rem;
  }

  .state-character {
    font-size: 1.2rem;
  }

  .label-filter {
    font-size: 1.6rem;
  }

  .form-input {
    width: 30vh;
    font-size: 1.5rem;
  }

  .form-input-select {
    font-size: 1.2rem;
  }

  .clean-button {
    font-size: 1.2rem;
    font-weight: normal;
  }

  .episode-container>h3 {
    font-size: 1.4rem;
  }

  .information-card-title {
    font-size: 1.6rem;
  }

  .card-information-information {
    font-size: 1.4rem;
  }

  .title-character {
    font-size: 3rem;
  }

  .title-container-card {
    height: 11vh;
  }

  .dont-find-container {
    width: 40%;
    margin-top: 1%;
    height: 80vh;
  }

  .image-container-dont-find {
    width: 50%;
    height: 80%;
  }

  .image-dont-find {
    width: 50%;
  }

  .filter-name-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }

  .image-character {
    width: 50%;
    height: 80%;
    padding: 2rem;
    border-radius: 3rem;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5vh;
  }

  .slime-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23vh;
    margin-bottom: -1rem;
    z-index: 0;
  }

  .slime-container>img {
    width: 100%;
    height: 14vh;
    margin-top: 3.4vh;
  }


  .slime-container>img {
    width: 100%;
    aspect-ratio: 19/6;
  }

}